<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorClass="alert alert-danger"
                    infoClass="alert alert-primary"
                    class="mb-1 font-weight-bold"
                    style="list-style: none; margin:0; padding: 0"
                    showSummary="true"
                    tooltip="true"
                    />
    </h:panelGroup>  
</ui:composition>