<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon" type="image/png" href="../assets/images/icon/favicon.ico"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
        <link rel="stylesheet" href="../assets/css/themify-icons.css"/>
        <link rel="stylesheet" href="../assets/css/metisMenu.css"/>
        <link rel="stylesheet" href="../assets/css/owl.carousel.min.css"/>
        <link rel="stylesheet" href="../assets/css/slicknav.min.css"/>
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <link rel="stylesheet" href="../assets/css/typography.css"/>
        <link rel="stylesheet" href="../assets/css/default-css.css"/>
        <link rel="stylesheet" href="../assets/css/styles.css"/>
        <link rel="stylesheet" href="../assets/css/responsive.css"/>
        <script src="../assets/js/vendor/modernizr-2.8.3.min.js"></script>

        <ui:insert name="head"/>
    </h:head>

    <h:body>
        <script>
            var userAdmin = "#{session.getValue("admin").username}";
            if (!userAdmin) {
                window.location = "/Hospital-war/faces/admin/Login.xhtml";
            }
        </script>
        <div id="preloader">
            <div class="loader"></div>
        </div>
        <!-- preloader area end -->
        <!-- page container area start -->
        <div class="page-container">  
            <div class="container-fluid">  
                <!-- sidebar menu area start -->
                <div class="sidebar-menu">
                    <div class="sidebar-header">
                        <div class="logo">
                            <a href="/Hospital-war" class="text-white"><h4>HMS Admin</h4></a>
                        </div>
                    </div>
                    <div class="main-menu">
                        <div class="menu-inner">
                            <nav>
                                <ul class="metismenu" id="menu">
                                    <h:form>

                                        <li id="Index">
                                            <h:commandLink action="#{dashboardController.prepareList}">
                                                <i class="ti-dashboard"></i> <span>Dashboard</span>
                                            </h:commandLink>
                                        </li> 


                                        <li id="Admin" jsf:rendered="#{session.getValue('admin').role}"><h:commandLink action="#{adminController.prepareList}"><i class="fas fa-key"></i> <span>Admin</span></h:commandLink></li> 

                                        <li id="Department"><h:commandLink action="#{departmentMB.prepareList}"><i class="fas fa-door-open"></i><span>Department</span></h:commandLink></li>

                                        <li id="Employee">
                                            <a class="drop" href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span> Employee</span></a>
                                            <ul class="collapse">
                                                <li id="Doctor" class="#{employeeMB.isDoctor?'active':''}" ><h:commandLink action="#{employeeMB.prepareListDoctor()}"><i class="fas fa-user-md"></i> <span>Doctor</span></h:commandLink></li>
                                                <li id="Staff" class="#{employeeMB.isDoctor?'':'active'}"><h:commandLink action="#{employeeMB.prepareListStaff()}"><i class="fas fa-user"></i><span>Staff</span></h:commandLink></li>
                                            </ul>
                                        </li>

                                        <li id="Appointment"><h:commandLink action="#{appointmentMB_demo.prepareList()}"><i class="fas fa-diagnoses"></i> <span>Appointment</span></h:commandLink></li>

                                        <li id="Medicine"><h:commandLink action="#{medicineMB.prepareList}"><i class="fas fa-pills"></i> <span>Medicine</span></h:commandLink></li>

                                        <li id="MedicalReport"><h:commandLink action="#{medicalReportMB.prepareList}"><i class="fas fa-book"></i> <span>Medical Report</span></h:commandLink></li>

                                        <li id="Patient"><h:commandLink action="#{patientMB.prepareList}"><i class="fas fa-user-injured"></i> <span>Patient</span></h:commandLink></li>                                  

                                        <li id="Room"><h:commandLink action="#{roomMB.prepareList}"><i class="fas fa-rocket"></i> <span>Room</span></h:commandLink></li>

                                        <li id="Sickness"><h:commandLink action="#{sicknessMB.prepareList}"><i class="fas fa-diagnoses"></i> <span>Sickness</span></h:commandLink></li>
                                    </h:form>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- sidebar menu area end -->

                <!-- header area start -->
                <div class="header-area">
                    <div class="row align-items-center">
                        <!-- nav and search button -->
                        <div class="col-md-6 col-sm-8 clearfix">
                            <div class="nav-btn pull-left">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>                        
                        </div>
                        <!-- profile info & task notification -->
                        <div class="col-md-6 col-sm-4 clearfix">
                            <ul class="notification-area pull-right float-right">
                                <li id="full-view"><i class="ti-fullscreen"></i></li>
                                <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                                <li class="dropdown">                                
                                    <img class="avatar user-thumb" src="../assets/images/author/avatar.png" alt="avatar" data-toggle="dropdown" />
                                    <div class="dropdown-menu bell-notify-box notify-box">
                                        <span class="notify-title">Hello, #{session.getValue("admin").username}</span>
                                        <div class="nofity-list">     
                                            <h:link outcome="#{adminController.logout()}" class="notify-item">
                                                <div class="notify-thumb"><i class="ti-share-alt btn-primary"></i></div>
                                                <div class="notify-text">
                                                    <p>Logout</p>
                                                    <span>Goodbye ! See you again.</span>
                                                </div>
                                            </h:link>                                        
                                        </div>
                                    </div>
                                </li>                            
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header area end -->

                <!-- main content area start -->
                <h:form id="formMain">
                    <ui:insert name="body"/>
                </h:form>
                <!-- main content area end -->

                <!-- footer area start-->
                <footer>
                    <div class="footer-area">
                        <p>© Copyright 2019. Group 02 - FPT Aptech.</p>
                    </div>
                </footer>
                <!-- footer area end-->
            </div>
        </div>
        <!-- page container area end -->
        <script src="../assets/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="../assets/js/popper.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/owl.carousel.min.js"></script>
        <script src="../assets/js/metisMenu.min.js"></script>
        <script src="../assets/js/jquery.slimscroll.min.js"></script>
        <script src="../assets/js/jquery.slicknav.min.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <script>   zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/"; ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];</script>    
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
        <script src="../assets/js/line-chart.js"></script>    
        <script src="../assets/js/pie-chart.js"></script>    
        <script src="../assets/js/plugins.js"></script>
        <script src="../assets/js/scripts.js"></script>
        <script>
            $(document).ready(function () {
                var current = location.pathname;
                current = current.slice(current.lastIndexOf("/") + 1);
                current = current.slice(0, current.indexOf('.'));
//                console.log(current);
                $('#menu li').each(function () {
                    var $this = $(this);
//                    console.log($this.attr('id'));

                    if ($this.attr('id').indexOf(current) !== -1) {
                        $this.addClass('active');
                    }
                })
            })
        </script>
    </h:body>
</html>