<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/png" href="../assets/images/icon/favicon.ico" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
        <link rel="stylesheet" href="../assets/css/themify-icons.css" />
        <link rel="stylesheet" href="../assets/css/metisMenu.css" />
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <link rel="stylesheet" href="../assets/css/typography.css" />
        <link rel="stylesheet" href="../assets/css/default-css.css" />
        <link rel="stylesheet" href="../assets/css/styles.css" />
        <link rel="stylesheet" href="../assets/css/responsive.css" />
        <script src="../assets/js/vendor/modernizr-2.8.3.min.js"></script>

        <ui:insert name="head"/>
    </h:head>

    <h:body class="body-bg">
        <div id="preloader">
            <div class="loader"></div>
        </div>
        <script>
            var user = "#{session.getValue("employee").email}";
            if (!user) {
                window.location = "/Hospital-war/faces/employee/Login.xhtml";
            }
        </script>
        <div class="horizontal-main-wrapper">
            <!-- main header area start -->
            <div class="mainheader-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="logo">
                                <a href="/Hospital-war" class="font-weight-bold"><h2>FPT Hospital</h2></a>
                            </div>
                        </div>
                        <!-- profile info & task notification -->
                        <div class="col-md-9 clearfix text-right">
                            <div class="d-md-inline-block d-block mr-md-4">
                                <ul class="notification-area">
                                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>                                    
                                </ul>
                            </div>
                            <div class="clearfix d-md-inline-block d-block">
                                <div class="user-profile m-0">
                                    <img class="avatar user-thumb" src="../assets/images/author/avatar.png" alt="avatar" />
                                    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">                                        
                                        #{session.getValue("employee").employeeName} <i class="fa fa-angle-down"></i>
                                    </h4>
                                    <div class="dropdown-menu shadow">
                                        <h:form>
                                            <h:commandLink class="dropdown-item" action="#{profileMB.prepareEditProfile(session.getValue('employee').employeeID)}" value="Profile"/>
                                            <h:commandLink class="dropdown-item" action="#{employeeController.logout()}" value="Log Out"/>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- header area start -->
            <div class="header-area header-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-9  d-none d-lg-block">
                            <div class="horizontal-menu">
                                <nav>
                                    <h:form>
                                        <ul id="nav_menu">
                                            <li jsf:rendered="#{session.getValue('employee').isDoctor}" id="Doctor">
                                                <h:commandLink action="#{doctorMB.prepareList}">
                                                    <i class="fas fa-user"></i> <span>Doctor</span>
                                                </h:commandLink>
                                            </li>

                                            <li id="Patient"><h:commandLink action="#{patientMB.prepareList}"><i class="fas fa-user-injured"></i> <span>Patient</span></h:commandLink></li> 

                                            <li id="Appointment" jsf:rendered="#{!session.getValue('employee').isDoctor}">
                                                <h:commandLink action="#{appointmentMB_demo.prepareList()}"><i class="fas fa-list"></i> <span>Appointment</span></h:commandLink>
                                                <ul class="submenu">
                                                    <li><h:commandLink action="#{appointmentMB_demo.prepareList()}"><span>Appointment</span></h:commandLink></li>
                                                </ul>
                                            </li>
                                            <li id="Medicine">
                                                <h:commandLink action="#{medicineMB.prepareList}">
                                                    <i class="ti-palette"></i><span> Medicine</span>
                                                </h:commandLink>
                                            </li>
                                            <li id="Sickness">
                                                <h:commandLink action="#{sicknessMB.prepareList}">
                                                    <i class="fas fa-diagnoses"></i><span> Sickness</span>
                                                </h:commandLink>
                                            </li>
                                        </ul>
                                    </h:form>
                                </nav>
                            </div>
                        </div>

                        <!-- mobile_menu -->
                        <div class="col-12 d-block d-lg-none">
                            <div id="mobile_menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header area end -->

            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="container">
                    <h:form id="formMain">
                        <ui:insert name="body"/>
                    </h:form>
                </div>
            </div>
            <!-- main content area end -->

            <footer>
                <div class="footer-area">
                    <p>© Copyright 2019. Group 02 - FPT Aptech.</p>
                </div>
            </footer>
        </div>
        <!-- main wrapper start -->



        <script src="../assets/js/vendor/jquery-2.2.4.min.js"></script>    
        <script src="../assets/js/popper.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/owl.carousel.min.js"></script>
        <script src="../assets/js/metisMenu.min.js"></script>
        <script src="../assets/js/jquery.slimscroll.min.js"></script>
        <script src="../assets/js/jquery.slicknav.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> 
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
        <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
        <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
        <script src="https://www.amcharts.com/lib/3/serial.js"></script>
        <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
        <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

        <script src="../assets/js/line-chart.js"></script>
        <script src="../assets/js/pie-chart.js"></script>
        <script src="../assets/js/bar-chart.js"></script>
        <script src="../assets/js/maps.js"></script>

        <script src="../assets/js/plugins.js"></script>
        <script src="../assets/js/scripts.js"></script>

        <script>
            $(document).ready(function () {
                var current = location.pathname;
                current = current.slice(current.lastIndexOf("/") + 1);
                current = current.slice(0, current.indexOf('.'));
//                console.log(current);
                $('#nav_menu li').each(function () {
                    var $this = $(this);
//                    console.log($this.attr('id'));
                    // if the current path is like this link, make it active
                    if ($this.attr('id').indexOf(current) !== -1) {
                        $this.addClass('active');
                    }
                })
            })
        </script>
    </h:body>
</html>