<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>Employee Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico"/>
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="../assets/css/themify-icons.css"/>
        <link rel="stylesheet" href="../assets/css/metisMenu.css"/>
        <link rel="stylesheet" href="../assets/css/owl.carousel.min.css"/>
        <link rel="stylesheet" href="../assets/css/slicknav.min.css"/>
        <!-- amchart css -->
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <!-- others css -->
        <link rel="stylesheet" href="../assets/css/typography.css"/>
        <link rel="stylesheet" href="../assets/css/default-css.css"/>
        <link rel="stylesheet" href="../assets/css/styles.css"/>
        <link rel="stylesheet" href="../assets/css/responsive.css"/>
        <!-- modernizr css -->
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </h:head>

    <h:body class="body-bg">
        <div class="fluid-container">
                    <div id="preloader">
                        <div class="loader"></div>
                    </div>

                    <div class="fluid-container">

                        <div class="mainheader-area">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        <div class="logo">
                                            <a href="index.html"><img src="assets/images/icon/logo2.png" alt="logo"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="header-area header-bottom">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-9  d-none d-lg-block">
                                        <div class="horizontal-menu">
                                            <nav>
                                                <h:form>
                                                    <ul id="nav_menu">
                                                        <li>
                                                            <a href="javascript:void(0)"><i class="ti-user"></i><span>Doctor</span></a>
                                                        </li>
                                                        <li>
                                                            <a href="faces/PatientIndex.xhtml"><i class="ti-user"></i><span>Patient</span></a>
                                                        </li>
                                                        <li class="active">
                                                            <a href="faces/AppointmentIndex.xhtml"><i class="ti-list"></i><span>Appointment</span></a>
                                                            <ul class="submenu">
                                                                <li class="active"><a href="faces/AppointmentIndex.xhtml">Appointment</a></li>
                                                                <li><a href="faces/PreAppointmentIndex.xhtml">Prepare Appointment</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="./ScheduleIndex.xhtml"><i class="ti-list"></i><span>Schedule</span></a>
                                                            <ul class="submenu">
                                                                <li><a  href="faces/ScheduleIndex.xhtml">Schedule</a></li>
                                                                <li><a  href="faces/ScheduleCreate.xhtml">Add New Schedule</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <h:commandLink action="#{medicineMB.prepareList}"><i class="ti-palette"></i><span>Medicine</span></h:commandLink>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"><i class="ti-bell"></i><span>medical examination</span></a>
                                                            <ul class="submenu">
                                                                <li class="active"><a href="index.html">medical records</a></li>
                                                                <li><a href="index3-horizontalmenu.html">add prescription</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </h:form>
                                            </nav>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 clearfix">
                                        <div class="clearfix d-md-inline-block">
                                            <div class="user-profile m-0">
                                                <img class="avatar user-thumb" src="assets/images/author/avatar.png" alt="avatar"/>
                                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
                                                    #{session.getValue("employee").employeeName} <i class="fa fa-angle-down"></i>
                                                </h4>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Profile</a>
                                                    <a class="dropdown-item" href="#">Log Out</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- mobile_menu -->
                            <div class="col-12 d-block d-lg-none">
                                <div id="mobile_menu"></div>
                            </div>
                            <!-- header area end -->
                            <!-- page title area end -->

                            <ui:insert name="body"/>


                        </div>

                        <!-- main content area end -->
                        <!-- footer area start-->
                        <footer>
                            <div class="footer-area">
                                <p>© Copyright 2019. Group 02 - FPT Aptech.</p>
                            </div>
                        </footer>
                        <!-- footer area end-->
                    </div>

                    </div>
                    <script src="../assets/js/vendor/jquery-2.2.4.min.js"></script>
                    <script src="../assets/js/popper.min.js"></script>
                    <script src="../assets/js/bootstrap.min.js"></script>
                    <script src="../assets/js/owl.carousel.min.js"></script>
                    <script src="../assets/js/metisMenu.min.js"></script>
                    <script src="../assets/js/jquery.slimscroll.min.js"></script>
                    <script src="../assets/js/jquery.slicknav.min.js"></script>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
                    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
                    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
                    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
                    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
                    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
                    <script src="../assets/js/line-chart.js"></script>
                    <script src="../assets/js/pie-chart.js"></script>
                    <script src="../assets/js/bar-chart.js"></script>
                    <script src="../assets/js/maps.js"></script>
                    <script src="../assets/js/plugins.js"></script>
                    <script src="../assets/js/scripts.js"></script>
                    </h:body>

                    </html>