<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Admin</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Admin</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <!--Form-->
                <div class="card-body">
                    <ui:include src="share/message.xhtml" />                     
                    <div class="form">
                        <div class="form-row">
                            <div class="form-group col">
                                <h:outputLabel value="Username" for="username" />
                                <h:inputText id="username" 
                                             value="#{adminController.selected.username}" 
                                             title="Username" 
                                             required="true"
                                             class="form-control"
                                             />
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Password" for="password" />
                                <h:inputSecret id="password" 
                                               value="#{adminController.selected.password}" 
                                               title="Password" 
                                               required="true" 
                                               class="form-control"
                                               />
                            </div> 
                        </div>




                        <div class="formAction">
                            <h:commandLink action="#{adminController.create}" 
                                           value=" Thêm mới"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{adminController.prepareList}" 
                                           value=" Back to List" 
                                           immediate="true"
                                           class="far fa-arrow-alt-circle-left btn btn-outline-dark"
                                           />
                        </div>
                    </div>
                </div>
                <!--End Form-->
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>