<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Appointment</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Manage Appointment</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- page content start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Normal</a>
                                </li>
                            </ul>
                            <div class="tab-content mt-3" id="myTabContent">
                                <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="data-tables">
                                        <table id="dataTable" class="table">
                                            <thead class="text-capitalize bg-dark text-white">
                                                <tr>
                                                    <th>Date</th>                                            
                                                    <th>Time</th>
                                                    <th>Room</th>
                                                    <th>Department</th>
                                                    <th>Doctor</th>
                                                    <th>Patient</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Date</th>                                            
                                                    <th>Time</th>
                                                    <th>Room</th>
                                                    <th>Department</th>
                                                    <th>Doctor</th>
                                                    <th>Patient</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <c:forEach var="item" items="#{appointmentMB_demo.items.wrappedData}">
                                                    <tr class="#{item.status?'list-group-item-success':'list-group-item-light'}">
                                                        <td>#{item.date}</td>
                                                        <td>#{item.time}</td>
                                                        <td>#{item.roomNo}</td>
                                                        <td>#{departmentMB.getByID(item.departmentID).getName()}</td>
                                                        <td>#{item.doctorID.employeeName}</td>
                                                        <td>#{item.patientID.patientName}</td>   
                                                    </tr>
                                                </c:forEach>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="data-tables">
                                        <table id="tableAppointment1" class="table">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Date</th>                                            
                                                    <th>Time</th>
                                                    <th>Room</th>
                                                    <th>Department</th>
                                                    <th>Doctor</th>
                                                    <th>Patient</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Date</th>                                            
                                                    <th>Time</th>
                                                    <th>Room</th>
                                                    <th>Department</th>
                                                    <th>Doctor</th>
                                                    <th>Patient</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <c:forEach var="item" items="#{appointmentMB_demo.items.wrappedData}">
                                                    <c:if test="#{item.time!=null}">
                                                        <tr class="#{item.status?'list-group-item-success':'list-group-item-light'}">
                                                            <td>#{item.date}</td>
                                                            <td>#{item.time}</td>
                                                            <td>#{item.roomNo}</td>
                                                            <td>#{departmentMB.getByID(item.departmentID).getName()}</td>
                                                            <td>#{item.doctorID.employeeName}</td>
                                                            <td>#{item.patientID.patientName}</td>                                                           
                                                        </tr>
                                                    </c:if>
                                                </c:forEach>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="data-tables">
                                        <table id="tableAppointment2" class="table">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Department</th>
                                                    <th>Doctor</th>
                                                    <th>Patient</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Department</th>
                                                    <th>Doctor</th>
                                                    <th>Patient</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <c:forEach var="item" items="#{appointmentMB_demo.items.wrappedData}">
                                                    <c:if test="#{item.time == null}">
                                                        <tr class="#{item.status?'list-group-item-success':'list-group-item-light'}">
                                                            <td>#{item.date}</td>
                                                            <td>#{departmentMB.getByID(item.departmentID).getName()}</td>
                                                            <td>#{item.doctorID.employeeName}</td>
                                                            <td>#{item.patientID.patientName}</td>                                                            
                                                        </tr>
                                                    </c:if>
                                                </c:forEach>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>    
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>

