<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Form Department</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Department</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Department</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- page content start -->
            <div class="container-fluid">
                <!--Form-->
                <div class="card-body">
                    <ui:include src="share/message.xhtml" /> 
                    <div class="form">
                        <div class="form-group">
                            <h:outputLabel value="Department Name" for="departmentName" />
                            <h:inputText id="departmentName" 
                                         value="#{departmentMB.selected.name}" 
                                         title="Department Name" 
                                         required="true" 
                                         class="form-control"
                                         />
                        </div>

                            <div class="form-group">
                                <h:outputLabel value="Type Department" for="departmentType" />
                                <h:selectOneMenu id="departmentType" 
                                                 value="#{departmentMB.selected.isDoctor}" 
                                                 title="Department Type" 
                                                 required="true" 
                                                 class="form-control"
                                                 >
                                    <f:selectItem itemValue = "true" itemLabel = "MEDICAL" /> 
                                    <f:selectItem itemValue = "false" itemLabel = "NON MEDICAL" />
                                </h:selectOneMenu>
                            </div>

                        <div class="formAction">
                            <h:commandLink action="#{departmentMB.create}" 
                                           value="Thêm mới"
                                           rendered="#{departmentMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{departmentMB.update}" 
                                           value="Cập nhật"
                                           rendered="#{!departmentMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                        </div>
                    </div>
                </div>
                <!--End Form-->
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>