<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Department</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Department</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- page content start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Manage Department</h4>
                            <div class="data-tables">
                                <h:commandLink action="#{departmentMB.prepareCreate}" 
                                               value="Add New"
                                               class="btn btn-outline-success mb-3"
                                               />
                                <table id="tablePatient" class="table">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>Name</th>                                            
                                            <th>Type</th>
                                            <th>Count Room</th>  
                                            <th>Count Employee</th>  
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <c:forEach var="item" items="#{departmentMB.items.wrappedData}">
                                            <tr>
                                                <td>#{item.name}</td>
                                                <td>#{item.isDoctor? "MEDICAL" : "NON MEDICAL"}</td>
                                                <td>#{item.roomCollection.size()}</td>
                                                <td>#{item.employeesCollection.size()}</td>
                                                <td>                                                    
                                                    <h:commandLink action="#{departmentMB.prepareEdit(item.departmentID)}"
                                                                   class="py-1 px-2 btn btn-sm btn-rounded btn-warning"
                                                                   value="Edit"
                                                                   />
                                                </td>
                                            </tr>
                                        </c:forEach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>