<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Employee</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Employee</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Employee</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <ui:include src="share/message.xhtml" /> 
                <div class="row">                                        
                    <div class="col">
                        <div class="card border">
                            <div class="card-header">
                                <h2 class="card-title">Profile</h2>
                            </div>
                            <div class="card-body">                    
                                <div class="form">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h:outputLabel value="Employee Name" for="employeeName" />
                                            <h:inputText id="employeeName" 
                                                         value="#{employeeMB.selected.employeeName}" 
                                                         title="Employee Name" 
                                                         required="true" requiredMessage="Employee Name is required"
                                                         class="form-control"
                                                         />
                                        </div>
                                    </div>                                    

                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h:outputLabel value="Phone Number" for="phone" />
                                            <h:inputText p:type="number" id="phone" 
                                                         value="#{employeeMB.selected.phone}" 
                                                         title="Phone Number" 
                                                         required="true" requiredMessage="Phone Number is required"
                                                         class="form-control"
                                                         />
                                        </div>
                                    </div>                        

                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h:outputLabel value="Department" for="Department" />
                                            <h:selectOneMenu id="Department" 
                                                             value="#{employeeMB.selected.departmentID}" 
                                                             title="Department" 
                                                             required="true" requiredMessage="Department is required"
                                                             class="form-control"
                                                             converter="#{selectDepartmentConverter}"
                                                             >
                                                <f:converter binding="#{selectDepartmentConverter}"/>
                                                 
                                                <f:selectItems value="#{employeeMB.refDepartment}"                                                               
                                                               var="department"  
                                                               itemLabel = "#{department.name}" 
                                                               itemValue = "#{department}" 
                                                               /> 

                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group col">
                                            <h:outputLabel value="Employee Type" for="isDoctor" />
                                            <h:selectOneMenu id="isDoctor" 
                                                             value="#{employeeMB.selected.isDoctor}" 
                                                             title="Employee type" 
                                                             required="true" 
                                                             class="form-control"
                                                             >
                                                <f:selectItem itemValue = "true" itemLabel = "Doctor" /> 
                                                <f:selectItem itemValue = "false" itemLabel = "Not Doctor" />
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group col">
                                            <h:outputLabel value="Status" for="status" />
                                            <h:selectOneMenu id="status" 
                                                             value="#{employeeMB.selected.status}" 
                                                             title="Employee status" 
                                                             required="true" 
                                                             class="form-control"
                                                             >
                                                <f:selectItem itemValue = "true" itemLabel = "Activate" /> 
                                                <f:selectItem itemValue = "false" itemLabel = "Deactivate" />
                                            </h:selectOneMenu>
                                        </div>
                                    </div>

                                    <div class="formAction">
                                        <h:commandLink action="#{employeeMB.create}" 
                                                       value=" Add new"
                                                       rendered="#{employeeMB.isCreate}"
                                                       class="far fa-check-circle btn btn-outline-primary mr-3"
                                                       />

                                        <h:commandLink action="#{employeeMB.update}" 
                                                       value=" Update"
                                                       rendered="#{!employeeMB.isCreate}"
                                                       class="far fa-check-circle btn btn-outline-primary mr-3"
                                                       />       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h:panelGroup rendered="#{employeeMB.isCreate}" layout="block">
                    <div class="col">
                        <div class="card border">
                            <div class="card-header">
                                <h2 class="card-title">Login Information</h2>
                            </div>
                            <div class="card-body">
                                <div class="form-group ">
                                    <h:outputLabel value="Email" for="email" />
                                    <h:inputText  id="email" 
                                                  value="#{employeeMB.selected.email}" 
                                                  title="Email" 
                                                  required="true" requiredMessage="Email is required" 
                                                  validator="#{employeeMB.validateEmailExit}"
                                                  class="form-control"
                                                  >
                                        <f:ajax event="blur" render="emailError" />
                                    </h:inputText>
                                    <h:message for="email" errorClass="small text-danger" id="emailError" />
                                </div>

                                <div class="form-group ">
                                    <h:outputLabel value="Password" for="password" />
                                    <h:inputSecret id="password" 
                                                   value="#{employeeMB.selected.password}" 
                                                   title="Password" 
                                                   required="true" requiredMessage="Password is required" 
                                                   class="form-control"
                                                   >
                                        <f:ajax event="blur" render="passwordError" />
                                    </h:inputSecret>
                                    <h:message for="password" errorClass="small text-danger" id="passwordError" />
                                </div> 

                                <div class="form-group">
                                    <h:outputLabel value="Confirm Password" for="confPassword" />
                                    <h:inputSecret id="confPassword" 
                                                   title="Conf Password" 
                                                   validator="#{employeeMB.validateSamePassword}"
                                                   required="true" requiredMessage="Confirm Password is required" 
                                                   class="form-control"
                                                   >
                                        <f:ajax event="blur" render="confPasswordError" />
                                    </h:inputSecret>
                                    <h:message for="confPassword" errorClass="small text-danger" id="confPasswordError" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </h:panelGroup>
                </div>
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>