<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Employee</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">#{employeeMB.isDoctor?"Doctor":"Staff"}</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>#{employeeMB.isDoctor?"Doctor":"Staff"}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <ui:include src="share/message.xhtml" />
            <!-- page content start -->
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Manage #{employeeMB.isDoctor?"Doctor":"Staff"}</h4>
                            <div class="data-tables">
                                <h:commandLink action="#{employeeMB.prepareCreate}" 
                                               value="Add New"
                                               class="btn btn-outline-success mb-3"
                                               />
                                <table id="dataTable" class="table">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>#{employeeMB.isDoctor?"Doctor":"Staff"} Name</th>
                                            <th>Email</th>                                            
                                            <th>Phone</th>
                                            <th>Department</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#{employeeMB.isDoctor?"Doctor":"Staff"} Name</th>
                                            <th>Email</th>                                            
                                            <th>Phone</th>
                                            <th>Department</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th class="d-none">Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <c:forEach var="item" items="#{employeeMB.items.wrappedData}">
                                            <tr class="#{!item.status?'bg-danger text-white':''}">
                                                <td>#{item.employeeName}</td>
                                                <td>#{item.email}</td>
                                                <td>#{item.phone}</td>
                                                <td>#{item.departmentID.name}</td>
                                                <td>#{item.isDoctor?"Doctor":"Staff"}</td>
                                                <td>#{item.status?"Activate":"Deactivate"}</td>
                                                <td>                                                    
                                                    <h:commandLink action="#{employeeMB.prepareEdit(item.employeeID)}"
                                                                   class="py-1 px-2 btn btn-sm btn-rounded btn-warning mr-3"
                                                                   rendered="#{item.status}"
                                                                   value="Edit"
                                                                   />

                                                    <h:commandLink action="#{employeeMB.resetPassword(item.employeeID)}"
                                                                   rendered="#{item.status}"
                                                                   class="py-1 px-2 btn btn-sm btn-rounded btn-danger"
                                                                   value="Reset Password to 1"
                                                                   />
                                                </td>
                                            </tr>
                                        </c:forEach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>