<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="index.html">Home</a></li>
                                <li><span>Dashboard</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- page content start -->
            <div class="container-fluid">
                <!-- seo fact area start -->
                <div class="row">
                    <div class="col-md-4 mt-5 mb-3">
                        <div class="card">
                            <div class="seo-fact sbg1">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                    <div class="seofct-icon font-weight-bold"><i class="fas fa-user-injured"></i> Patient</div>
                                    <h2>#{dashboardController.countPatient}</h2>
                                </div>
                                <canvas id="seolinePatient" height="50"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-md-5 mb-3">
                        <div class="card">
                            <div class="seo-fact sbg2">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                    <div class="seofct-icon font-weight-bold"><i class="fas fa-user-md"></i> Doctor</div>
                                    <h2>#{dashboardController.countDoctor}</h2>
                                </div>
                                <canvas id="seolineDoctor" height="50"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-md-5 mb-3">
                        <div class="card">
                            <div class="seo-fact sbg4">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                    <div class="seofct-icon font-weight-bold"><i class="fas fa-user-tie"></i> Staff</div>
                                    <h2>#{dashboardController.countStaff}</h2>
                                </div>
                                <canvas id="seolineStaff" height="50"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="seo-fact bg-success">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                    <div class="seofct-icon"><i class="fas fa-pills"></i> Medicine</div>
                                    <h2>#{dashboardController.countMedicine}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="seo-fact bg-warning">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                    <div class="seofct-icon"><i class="fas fa-notes-medical"></i> Medical Report</div>
                                    <h2>#{dashboardController.countMedicalReport}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="seo-fact bg-dark">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                    <div class="seofct-icon"><i class="fas fa-calendar-alt"></i> Waiting</div>
                                    <h2>#{dashboardController.countAppointmentWaiting}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="seo-fact bg-danger">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                    <div class="seofct-icon"><i class="fas fa-calendar-check"></i> Finished</div>
                                    <h2>#{dashboardController.countAppointmentFinish}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page content end -->            
        </ui:define>
        <script>
                alert("hello");
        </script>
    </ui:composition> 
</html>