<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_LoginPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
        </ui:define>       
        <!-- Body -->
        <ui:define name="body"> 
            #{adminController.removSession()}
            <div class="login-form-head">
                <h4>Web master</h4>
                <p>Welcome to FPT Hospital<br/>Login to with us</p>
            </div>
            <ui:include src="share/message.xhtml" />
            <h:form>
                <div class="login-form-body">
                    <div class="form-gp">
                        <h:outputLabel for="username">Username</h:outputLabel>
                        <h:inputText 
                            id="username"
                            autocomplete="off"
                            value="#{adminController.admin.username}"
                            />
                        <i class="ti-user"></i>
                    </div>
                    <div class="form-gp">
                        <h:outputLabel for="password">Password</h:outputLabel>
                        <h:inputSecret 
                            id="password"
                            value="#{adminController.admin.password}"
                            />
                        <i class="ti-lock"></i>
                    </div>
                    <div class="submit-btn-area">                                
                        <h:commandLink action="#{adminController.login()}">
                            <button id="form_submit" type="button">Submit <i class="ti-arrow-right"></i></button>
                        </h:commandLink>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition> 
</html>