<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Medical Report</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Medical Report</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Medical Report</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- page content start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Manage Medical Report</h4>
                            <div class="data-tables">
                                <table id="tableMedicalReport" class="table">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>Patient</th>
                                            <th>Sickness</th>                                            
                                            <th>Doctor</th>
                                            <th>Note</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>                                    
                                    <tbody>
                                        <c:forEach var="item" items="#{medicalReportMB.items.wrappedData}">
                                            <tr>
                                                <td>#{item.patientID.patientName}</td>
                                                <td>#{item.sicknessID.sicknessName}</td>
                                                <td>#{item.doctorID.employeeName}</td>
                                                <td>#{item.note}</td>
                                                <td>
                                                    <h:outputText value="#{item.date}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </td>

                                            </tr>
                                        </c:forEach>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Patient</th>
                                            <th>Sickness</th>                                            
                                            <th>Doctor</th>
                                            <th>Note</th>
                                            <th>Date</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>