<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Medical Report</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Medical Report</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <!--Form-->
                <div class="card-body">
                    <ui:include src="share/message.xhtml" />                     
                    <div class="form">
                        <div class="form-row">
                            <div class="form-group col">
                                <h:outputLabel value="Medical Report No" for="medicalReportNo" />
                                <h:inputText id="medicalReportNo" 
                                             value="#{medicalReportMB.selected.reportID}" 
                                             title="Medical Report No" 
                                             required="true" 
                                             class="form-control"
                                             />
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Department ID" for="departmentId" />
                                <h:inputText id="departmentId" 
                                             readonly="true"
                                             value="#{medicalReportMB.selected.pati}" 
                                             title="Department Id" 
                                             required="true" 
                                             class="form-control"
                                             />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <h:outputLabel value="Medical Report Type" for="medicalReportType" />
                                <h:selectOneMenu id="medicalReportType" 
                                                 value="#{medicalReportMB.selected.type}" 
                                                 title="Medical Report Type" 
                                                 required="true" 
                                                 class="form-control"
                                                 >
                                    <f:selectItem itemValue = "false" itemLabel = "Normal" />
                                    <f:selectItem itemValue = "true" itemLabel = "Service" />
                                </h:selectOneMenu>
                            </div>   
                            <div class="form-group col">
                                <h:outputLabel value="Department" for="Department" />
                                <h:selectOneMenu id="Department" 
                                                 value="#{medicalReportMB.selected.medicalReportPK.departmentID}" 
                                                 title="Department" 
                                                 required="true" 
                                                 class="form-control"
                                                 >
                                    <f:selectItems value = "#{medicalReportMB.refDepartment}" 
                                                   var="dp" 
                                                   itemLabel="#{dp.name}" 
                                                   itemValue="#{dp.departmentID}"                                                      
                                                   />
                                </h:selectOneMenu>
                            </div> 
                        </div>


                        <div class="form-group">
                            <h:outputLabel value="Description" for="medicalReportDescription" />
                            <h:inputTextarea id="medicalReportDescription" 
                                             value="#{medicalReportMB.selected.description}" 
                                             title="Medical Report Description" 
                                             required="true" 
                                             class="form-control"
                                             />
                        </div>

                        <div class="formAction">
                            <h:commandLink action="#{medicalReportMB.create}" 
                                           value=" Thêm mới"
                                           rendered="#{medicalReportMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{medicalReportMB.update}" 
                                           value=" Cập nhật"
                                           rendered="#{!medicalReportMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{medicalReportMB.prepareList}" 
                                           value=" Back to List" 
                                           immediate="true"
                                           class="far fa-arrow-alt-circle-left btn btn-outline-dark"
                                           />
                        </div>
                    </div>
                </div>
                <!--End Form-->
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>