<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_AdminPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Sickness</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Sickness</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <!--Form-->
                <div class="card-body">
                    <ui:include src="share/message.xhtml" />                     
                    <div class="form">
                        <div class="form-row">
                            <div class="form-group col">
                                <h:outputLabel value="Sickness ID" for="sicknessID" />
                                <h:inputText id="sicknessID" 
                                             value="#{sicknessMB.selected.sicknessID}" 
                                             title="Sickness ID" 
                                             required="true"
                                             readonly="true"
                                             class="form-control"
                                             />
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Sickness Name" for="sicknessName" />
                                <h:inputText id="sicknessName" 
                                             value="#{sicknessMB.selected.sicknessName}" 
                                             title="Sickness Name" 
                                             required="true" 
                                             class="form-control"
                                             />
                            </div> 
                        </div>


                       

                        <div class="formAction">
                            <h:commandLink action="#{sicknessMB.create}" 
                                           value=" Thêm mới"
                                           rendered="#{sicknessMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{sicknessMB.update}" 
                                           value=" Cập nhật"
                                           rendered="#{!sicknessMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{sicknessMB.prepareList}" 
                                           value=" Back to List" 
                                           immediate="true"
                                           class="far fa-arrow-alt-circle-left btn btn-outline-dark"
                                           />
                        </div>
                    </div>
                </div>
                <!--End Form-->
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>