<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Appointment</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Add Appointment</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mt-3">
                <!--Form-->
                <div class="card-body">
                    <ui:include src="share/message.xhtml" />                     
                    <div class="form">
                        <div class="form-row">
                            <div class="form-group col">
                                <h:outputLabel value="Date" for="Date" />
                                <h:inputText id="date" 
                                             value="#{appointmentMB_demo.selected.date}" 
                                             title="Date" 
                                             class="form-control disabled"
                                             />
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Patient" for="patient" />
                                <h:selectOneMenu id="patient" 
                                                 value="#{appointmentMB_demo.selected.patientID}" 
                                                 title="patient" 
                                                 required="true" requiredMessage="patient is required"
                                                 class="form-control"
                                                 converter="#{selectPatientConverter}"
                                                 >
                                    <f:converter binding="#{selectPatientConverter}"/>

                                    <f:selectItems value="#{patientMB.refPatient}"                                                               
                                                   var="patient"  
                                                   itemLabel = "#{patient.patientName}" 
                                                   itemValue = "#{patient}" 
                                                   />
                                </h:selectOneMenu>
                                
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Department" for="Department" />
                                <h:selectOneMenu id="department" 
                                                 value="#{appointmentMB_demo.selected.departmentID}" 
                                                 title="department" 
                                                 required="true" requiredMessage="department is required"
                                                 class="form-control">                                                
                                    <f:selectItems value="#{departmentMB.byDoctor}"                                                               
                                                   var="department"  
                                                   itemLabel = "#{department.name}" 
                                                   itemValue = "#{department.departmentID}" 
                                                   /> 
                                </h:selectOneMenu>
                            </div>
                        </div>

                        <div class="formAction">
                            <h:commandLink action="#{appointmentMB_demo.add_appointment_normal()}" 
                                           value=" Thêm mới"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />
                        </div>
                    </div>
                </div>
                <!--End Form-->
            </div>
        </ui:define>
    </ui:composition> 
</html>

