<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Appointment</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Appointment</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mt-3">
                <!--Form-->
                <div class="card-body">
                    <ui:include src="share/message.xhtml" />                     
                    <div class="form">
                        <div class="form-row">
                            <div class="form-group col">
                                <h:outputLabel value="Date" for="Date" />
                                <input jsf:id="date" type="date" min="#{appointmentMB_demo.today}" jsf:value="#{appointmentMB_demo.selected.date}" class="form-control" >
                                    <f:ajax event="change" render=":formMain" listener="#{appointmentMB_demo.change_form()}" />
                                </input>

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Time" for="Time" />
                                <h:selectOneMenu id="time"
                                                 value="#{appointmentMB_demo.selected.time}" 
                                                 title="time" 
                                                 class="form-control"
                                                 >
                                    <f:selectItems  value="#{appointmentMB_demo.listTime}" var="t" itemLabel="#{t}" itemValue="#{t}"/>
                                </h:selectOneMenu>
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Patient" for="patient" />
                                <h:selectOneMenu id="patient" 
                                                 value="#{appointmentMB_demo.selected.patientID}" 
                                                 title="patient" 
                                                 required="true" requiredMessage="patient is required"
                                                 class="form-control"
                                                 converter="#{selectPatientConverter}"
                                                 >
                                    <f:converter binding="#{selectPatientConverter}"/>

                                    <f:selectItems value="#{patientMB.refPatient}"                                                               
                                                   var="patient"  
                                                   itemLabel = "#{patient.patientName}" 
                                                   itemValue = "#{patient}" 
                                                   /> 

                                </h:selectOneMenu>                                
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Doctor" for="Doctor" />
                                <h:selectOneMenu id="Doctor" 
                                                 value="#{appointmentMB_demo.selected.doctorID}" 
                                                 title="Doctor" 
                                                 required="true" requiredMessage="Doctor is required"
                                                 class="form-control"
                                                 converter="#{selectDoctorConverter}"
                                                 >
                                    <f:converter binding="#{selectDoctorConverter}"/>
                                    <f:ajax event="change" render=":formMain" listener="#{appointmentMB_demo.change_form()}" />
                                    <f:selectItems value="#{employeeMB.refemployeeses}"                                                               
                                                   var="employee"  
                                                   itemLabel = "#{employee.employeeName}" 
                                                   itemValue = "#{employee}" 
                                                   /> 

                                </h:selectOneMenu>
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col">
                                <h:outputLabel value="Department" for="Department" />
                                <h:selectOneMenu id="department" title="department" class="form-control disabled" value="#{appointmentMB_demo.selected.departmentID}">
                                    <f:selectItems value="#{departmentMB.byDoctor}" var="d" itemLabel="#{d.name}" itemValue="#{d.departmentID}" />
                                </h:selectOneMenu>
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Room" for="Room" />
                                <h:selectOneMenu id="Room" 
                                                 value="#{appointmentMB_demo.selected.roomNo}" 
                                                 title="Room" 
                                                 class="form-control disabled"
                                                 >
                                    <f:selectItems value="#{roomMB.all}" var="r" itemValue="#{r.roomPK.roomNo}" itemLabel="#{r.roomPK.roomNo}"/>
                                </h:selectOneMenu>
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Status" for="Status" />
                                <div class="form-group col">    
                                    <h:selectOneMenu id="status" 
                                                     value="#{appointmentMB_demo.selected.status}" 
                                                     title="Status" 
                                                     class="form-control disabled"
                                                     >
                                        <f:selectItem itemValue="Completed" itemLabel="Completed"/>
                                        <f:selectItem itemValue="Completed" itemLabel="NotComplete"/>
                                        <f:selectItem itemValue="Pending" itemLabel="Pending"/>
                                        <f:selectItem itemValue="Cancel" itemLabel="Cancel"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                        </div>

                        <div class="formAction">
                            <h:commandLink action="#{appointmentMB_demo.create}" 
                                           value=" Thêm mới"
                                           rendered="#{appointmentMB_demo.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{appointmentMB_demo.update}" 
                                           value=" Cập nhật"
                                           rendered="#{!appointmentMB_demo.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{appointmentMB_demo.prepareList}" 
                                           value=" Back to List" 
                                           immediate="true"
                                           class="far fa-arrow-alt-circle-left btn btn-outline-dark"
                                           />
                        </div>
                    </div>
                </div>
                <!--End Form-->
            </div>

        </ui:define>
    </ui:composition> 
</html>

