<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <ui:define name="head">
            <title>Doctor</title>
        </ui:define>

        <ui:define name="body">  
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Doctor</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Doctor</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mt-3">
                <div class="card-body">
                    <h:commandButton id="btnRefesh" action="return false" value=" Refesh" class="btn btn-primary"> 
                        <span class="pt-2 pl-2">Appointment will Refesh after <b class="font-weight-bold" id="timeRefesh"></b> second.</span> 
                        <f:ajax listener="#{doctorMB.Refesh()}" 
                                render=":formMain:panel_1 :formMain:panel_2" 
                                transient="true" event="click" />
                    </h:commandButton>

                </div>
            </div>
            <div class="shadow card p-3 mb-5 bg-white my-3 ">
                <h3 class="card-title">For Me</h3>
                <h:panelGroup id="panel_1">
                    <div class="card-body">
                        <div class="row">
                            <c:forEach  var="item" items="#{doctorMB.itemsAppointmentForMe.wrappedData}">
                                <div class="col-3">
                                    <div class="card shadow ">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-sm-between">
                                                <div class="d-flex align-items-center font-weight-bold font-14">Appointment</div>
                                                <div>
                                                    <h:commandLink action="#{doctorMB.prepareMedicalReport()}"
                                                                   actionListener="#{doctorMB.updateAppointment(item)}"
                                                                   class="py-1 px-2 btn btn-sm btn-rounded btn-dark"
                                                                   value="Submit"
                                                                   />
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row mb-2">
                                                <div class="col-5">ID</div>
                                                <div class="col-7 font-weight-bold">#{item.appointmentID}</div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-5">Patient</div>
                                                <div class="col-7 font-weight-bold">
                                                    <a jsf:action="return false" data-toggle="modal" data-target="#exampleModal">
                                                        #{item.patientID.patientName}
                                                        <f:ajax listener="#{doctorMB.getViewPatient(item.patientID)}" 
                                                                render=":formMain:patientInfo" 
                                                                event="click"
                                                                />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-5">Date</div>
                                                <div class="col-7 font-weight-bold">#{item.date}</div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-5">Time</div>
                                                <div class="col-7 font-weight-bold">#{item.time}</div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-5">Room</div>
                                                <div class="col-7 font-weight-bold">
                                                    #{item.roomNo}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </c:forEach>
                        </div>
                    </div>
                </h:panelGroup>
            </div>

            <div class="shadow card p-3 mb-5 bg-white my-3 ">
                <h3 class="card-title">In #{session.getValue("employee").departmentID.name}</h3>
                <h:panelGroup id="panel_2">
                    <div class="card-body">
                        <div class="row">
                            <c:forEach var="item" items="#{doctorMB.itemsAppointment.wrappedData}">
                                <div class="col-3">
                                    <div class="card shadow border ">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-sm-between">
                                                <div class="d-flex align-items-center font-weight-bold font-14">Appointment</div>
                                                <div>
                                                    <h:commandLink action="#{doctorMB.prepareMedicalReport()}"
                                                                   actionListener="#{doctorMB.updateAppointment(item)}"
                                                                   class="py-1 px-2 btn btn-sm btn-rounded btn-dark"
                                                                   value="Submit"
                                                                   />
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row mb-2">
                                                <div class="col-5">ID</div>
                                                <div class="col-7 font-weight-bold">#{item.appointmentID}</div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-5">Patient</div>
                                                <div class="col-7 font-weight-bold">
                                                    <a jsf:action="return false" data-toggle="modal" data-target="#exampleModal">
                                                        #{item.patientID.patientName}
                                                        <f:ajax listener="#{doctorMB.getViewPatient(item.patientID)}" 
                                                                render=":formMain:patientInfo" 
                                                                event="click"
                                                                />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-5">Date</div>
                                                <div class="col-7 font-weight-bold">#{item.date}</div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-5">Room</div>
                                                <div class="col-7 font-weight-bold">#{item.roomNo}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </c:forEach>
                        </div>
                    </div>
                </h:panelGroup>
            </div>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" >
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Infomation Patient</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h:panelGroup id="patientInfo">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <h:outputLabel value="Patient Name" for="patientName" />
                                        <h:inputText id="patientName" 
                                                     value="#{doctorMB.viewPatient.patientName}" 
                                                     readonly="true"
                                                     class="form-control"
                                                     />
                                    </div>
                                    <div class="form-group col">
                                        <h:outputLabel value="CMND" for="patientCmnd" />
                                        <h:inputText id="patientCmnd" 
                                                     value="#{doctorMB.viewPatient.cmnd}" 
                                                     readonly="true"
                                                     class="form-control"
                                                     />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel value="Phone" for="patientPhone" />
                                    <h:inputText id="patientPhone" 
                                                 value="#{doctorMB.viewPatient.phone}" 
                                                 readonly="true"
                                                 class="form-control"
                                                 />
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <h:outputLabel value="Gender" for="patientGender" />
                                        <h:selectOneMenu id="patientGender" 
                                                         value="#{doctorMB.viewPatient.gender}" 
                                                         disabled="true"
                                                         class="form-control"
                                                         >
                                            <f:selectItem itemValue = "true" itemLabel = "Male" /> 
                                            <f:selectItem itemValue = "false" itemLabel = "Female" />
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group col">
                                        <h:outputLabel value="Age" for="patientAge" />
                                        <h:inputText id="patientAge" 
                                                     value="#{doctorMB.viewPatient.age}" 
                                                     readonly="true"
                                                     class="form-control"
                                                     />
                                    </div>
                                    <div class="form-group col">
                                        <h:outputLabel value="DOB" for="patientDOB" />
                                        <input id="patientDOB" 
                                               jsf:value="#{doctorMB.viewPatient.dob}"
                                               readonly="true"
                                               class="form-control datepicker"
                                               type="text"
                                               />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel value="Address" for="patientAddress" />
                                    <h:inputTextarea id="patientAddress" 
                                                     value="#{doctorMB.viewPatient.address}" 
                                                     readonly="true"
                                                     class="form-control"
                                                     />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <script>
                var sec = 10;
                var timer = setInterval(function () {
                    $('#timeRefesh').text(sec--);
                    if (sec == -1) {
                        $("#formMain\\:btnRefesh").trigger("click");
                        sec = 10
                        return false
                    }
                }, 1000);

            </script>
        </ui:define>
    </ui:composition> 
</html>