<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Patient</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Patient</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- page content start -->
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mt-3">
                        <div class="card-body">
                            <h4 class="header-title">Doctor</h4>
                            <div class="data-tables">
                                <table id="dataTable" class="table">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>Name</th>
                                            <th>Phone</th>                                            
                                            <th>Email</th>
                                            <th>Department</th>
                                            <th>Action</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Phone</th>                                            
                                            <th>Email</th>
                                            <th>Department</th>
                                            <th class="d-none">Action</th>
                                            <th class="d-none"></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <c:forEach var="item" items="#{employeeMB.items.wrappedData}">
                                            <tr>
                                                <td>#{item.employeeName}</td>
                                                <td>#{item.phone}</td>
                                                <td>#{item.email}</td>
                                                <td>#{departmentMB.find(item.departmentID.departmentID)}</td>
                                                <td>
                                                    <h:commandLink action="AppointmentForm.xhtml"
                                                                   class="py-1 px-2 btn btn-sm btn-rounded btn-warning"
                                                                   value="Select"
                                                                   >
                                                        <f:setPropertyActionListener target="#{appointmentMB_demo.listTime}" value="#{appointmentMB_demo.readTime()}" />
                                                        <f:setPropertyActionListener target="#{appointmentMB_demo.selected.date}" value="#{appointmentMB_demo.today}"/>
                                                        <f:setPropertyActionListener target="#{appointmentMB_demo.selected.departmentID}" value="#{item.departmentID.departmentID}"/>
                                                        <f:setPropertyActionListener target="#{appointmentMB_demo.selected.doctorID}" value="#{employeeMB.getByID(item.employeeID)}"/>
                                                        <f:setPropertyActionListener target="#{appointmentMB_demo.selected.patientID}" value="#{patientMB.patient}"/>
                                                        <f:setPropertyActionListener target="#{appointmentMB_demo.isCreate}" value="true"/>
                                                        <f:setPropertyActionListener target="#{appointmentMB_demo.doctor}" value="#{item.employeeID}" />
                                                    </h:commandLink>
                                                </td>
                                            </tr>
                                        </c:forEach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>

