<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_LoginPage.xhtml">
        <!-- Body -->
        <ui:define name="body">   
            #{employeeController.removSession()}
            <div class="login-area login-s2">
                <div class="container">
                    <div>
                        <div class="login-form-head">
                            <h2>HMS Staff Login</h2>
                            <p>Welcome to FPT Hospital<br/>Login to with us</p>
                        </div>
                        <ui:include src="share/message.xhtml" />
                        <h:form>
                            <div class="login-form-body">                                        
                                <div class="form-gp">
                                    <h:outputLabel for="email">Email</h:outputLabel>
                                    <h:inputText 
                                        id="email"
                                        autocomplete="off"
                                        required="true" requiredMessage="Email is required"
                                        value="#{employeeController.employee.email}"
                                        >
                                        <f:ajax event="blur" render="emailError" />
                                    </h:inputText>
                                    <h:message for="email" errorClass="invalid text-danger small" id="emailError" />
                                    <i class="ti-email"></i>
                                </div>
                                <div class="form-gp">
                                    <h:outputLabel for="password">Password</h:outputLabel>
                                    <h:inputSecret 
                                        id="password"
                                        required="true" requiredMessage="Password is required"
                                        value="#{employeeController.employee.password}"
                                        />
                                    <i class="ti-lock"></i>
                                </div>
                                <div class="submit-btn-area">                                
                                    <h:commandLink action="#{employeeController.login()}">
                                        <button id="form_submit" type="button">Submit <i class="ti-arrow-right"></i></button>
                                    </h:commandLink>
                                </div>
                                <div class="form-footer text-center mt-5">
                                </div>
                            </div>   
                        </h:form>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition> 
</html>