<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <ui:define name="head">
            <title>Doctor</title>
        </ui:define>

        <ui:define name="body">  
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Medical Report</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Medical Report</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shadow card mt-3">
                <div class="card-body">
                    <h:commandButton action="#{doctorMB.save()}" class="btn btn-primary" value="Save">
                    </h:commandButton>
                </div>
            </div>
            <ui:include src="share/message.xhtml" />  
            <div class="row">
                <div class="col">
                    <div class="shadow card p-3 mb-5 bg-white my-3 ">
                        <h3 class="card-title">Medical Report</h3>

                        <div class="card-body">
                            <h:panelGroup id="form_medicalReport">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <h:outputLabel value="Patient Name" for="patientName" />
                                        <h:inputText id="patientName"
                                                     value="#{doctorMB.medicalReportSelect.patientID.patientName}"
                                                     disabled="true"
                                                     title="Patient Name" 
                                                     required="true" 
                                                     class="form-control"
                                                     />
                                    </div>
                                    <div class="form-group col">
                                        <h:outputLabel value="Doctor Name" for="doctorName" />
                                        <h:inputText id="doctorName" 
                                                     value="#{doctorMB.medicalReportSelect.doctorID.employeeName}"
                                                     disabled="true"
                                                     title="Doctor Name" 
                                                     required="true" 
                                                     class="form-control"
                                                     />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <h:outputLabel value="Sickness" for="sickness" />
                                        <h:selectOneMenu id="sickness" 
                                                         title="Sickness" 
                                                         required="true"
                                                         value="#{doctorMB.medicalReportSelect.sicknessID}"
                                                         class="form-control"
                                                         converter="#{selectSicknessConverter}"
                                                         >
                                            <f:converter binding="#{selectSicknessConverter}" />
                                            <f:selectItems value="#{doctorMB.loadRefSickness()}" var="sickness"
                                                           itemValue="#{sickness}" itemLabel="#{sickness.sicknessName}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <h:outputLabel value="Note" for="note" />
                                        <h:inputTextarea id="note" 
                                                         value="#{doctorMB.medicalReportSelect.note}"
                                                         title="note" 
                                                         required="true" 
                                                         class="form-control"
                                                         />
                                    </div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup id="table_Prescription">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Medicine</th>
                                            <th>Quantity</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <c:forEach items="#{doctorMB.medicalReportSelect.prescriptionCollection}" var="pres">
                                            <tr>
                                                <td>#{pres.medicineID.medicineName}</td>
                                                <td>#{pres.total}</td>
                                                <td>
                                                    <h:commandButton action="return false"          
                                                                     class="btn btn-sm px-2 py-1 mr-3 btn-success"
                                                                     value="edit"
                                                                     >
                                                        <f:ajax listener="#{doctorMB.prepareEditPrescription(pres)}" 
                                                                render=":formMain:panel_2 :formMain:table_Prescription" 
                                                                transient="true"
                                                                event="click" />            
                                                    </h:commandButton>
                                                    <h:commandButton action="return false"          
                                                                     class="btn btn-sm px-2 py-1 btn-danger"
                                                                     value="remove"
                                                                     >
                                                        <f:ajax listener="#{doctorMB.prepareRemovePrescription(pres)}" 
                                                                render=":formMain:panel_2 :formMain:table_Prescription" 
                                                                transient="true"
                                                                event="click" />            
                                                    </h:commandButton>
                                                </td>
                                            </tr>
                                        </c:forEach>
                                    </tbody>
                                </table>
                            </h:panelGroup>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="shadow card p-3 mb-5 bg-white my-3 ">
                        <h3 class="card-title">Prescription</h3>
                        <h:panelGroup id="panel_2">
                            <div class="card-body">
                                <h:panelGroup id="form_prescription">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h:outputLabel value="Medicine" for="medicine" />
                                            <h:selectOneMenu id="medicine" 
                                                             title="Medicine" 
                                                             class="form-control p-2"
                                                             valueChangeListener="#{doctorMB.changeMedicine}"
                                                             value="#{doctorMB.prescriptionSelect.medicineID}"
                                                             converter="#{selectMedicineConverter}"
                                                             >
                                                <f:converter binding="#{selectMedicineConverter}"/>
                                                <f:ajax event="change"/>
                                                <f:selectItems value="#{doctorMB.loadRefMedicine()}" var="medicine"
                                                               itemValue="#{medicine}" itemLabel="#{medicine.medicineName}"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group col">
                                            <h:outputLabel value="Quantity" for="quantity" />
                                            <h:inputText id="quantity" 
                                                         title="Quantity" 
                                                         class="form-control"
                                                         valueChangeListener="#{doctorMB.changeQuantity}"
                                                         value="#{doctorMB.prescriptionSelect.total}"
                                                         >
                                                <f:ajax event="change"/>
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h:outputLabel value="Time" for="time" />
                                            <div class="row ml-5">
                                                <div class="custom-control custom-checkbox col">
                                                    <input type="checkbox" 
                                                           id="timeCheck1" 
                                                           class="custom-control-input" 
                                                           jsf:valueChangeListener="#{doctorMB.changeMorning}"
                                                           jsf:value="#{doctorMB.prescriptionSelect.morning}"
                                                           >
                                                        <f:ajax event="change"/>
                                                    </input>
                                                    <label class="custom-control-label" for="timeCheck1">Morning</label>
                                                </div>
                                                <div class="custom-control custom-checkbox col">
                                                    <input type="checkbox" 
                                                           id="timeCheck2" 
                                                           class="custom-control-input" 
                                                           jsf:valueChangeListener="#{doctorMB.changeAfternoon}"
                                                           jsf:value="#{doctorMB.prescriptionSelect.afternoon}"
                                                           >
                                                        <f:ajax event="change"/>
                                                    </input>
                                                    <label class="custom-control-label" for="timeCheck2">Afternoon</label>
                                                </div>
                                                <div class="custom-control custom-checkbox col">
                                                    <input type="checkbox" 
                                                           id="timeCheck3" 
                                                           class="custom-control-input" 
                                                           jsf:value="#{doctorMB.prescriptionSelect.evening}"
                                                           jsf:valueChangeListener="#{doctorMB.changeEvening}"
                                                           >
                                                        <f:ajax event="change"/>
                                                    </input>
                                                    <label class="custom-control-label" for="timeCheck3">Evening</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h:outputLabel value="Detail" for="detail" />
                                            <h:inputTextarea id="detail" 
                                                             value="#{doctorMB.prescriptionSelect.note}"
                                                             valueChangeListener="#{doctorMB.changeDetail}"
                                                             title="note" 
                                                             class="form-control"
                                                             >
                                                <f:ajax event="change"/>
                                            </h:inputTextarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-success">New</button>
                                        <h:commandButton action="return false"          
                                                         class="mx-2 btn btn-sm btn-success"
                                                         value="+ Add"
                                                         >
                                            <f:ajax listener="#{doctorMB.updateMedicalReport()}" 
                                                    render=":formMain:panel_2 :formMain:table_Prescription" 
                                                    transient="true"
                                                    event="click" />            
                                        </h:commandButton>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition> 
</html>