<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Medicine</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Medicine</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mt-3">
                <!--Form-->
                <div class="card-body">
                    <ui:include src="share/message.xhtml" />                     
                    <div class="form">
                        <div class="form-row">
                            <div class="form-group col">
                                <h:outputLabel value="Medicine Name" for="medicineName" />
                                <h:inputText id="medicineName" 
                                             value="#{medicineMB.selected.medicineName}" 
                                             title="Medicine Name" 
                                             required="true" 
                                             class="form-control"
                                             />
                            </div>
                        
                            <div class="form-group col">
                                <h:outputLabel value="Medicine Type" for="type" />
                                <h:selectOneMenu id="medicineGender" 
                                                 value="#{medicineMB.selected.type}" 
                                                 title="Medicine type" 
                                                 required="true" 
                                                 class="form-control"
                                                 >
                                    <f:selectItem itemValue = "true" itemLabel = "Liquid" /> 
                                    <f:selectItem itemValue = "false" itemLabel = "Strong" />
                                </h:selectOneMenu>
                            </div>
                            
                             <div class="form-group col">
                                <h:outputLabel value="Status" for="status" />
                                <h:selectOneMenu id="status" 
                                                 value="#{medicineMB.selected.status}" 
                                                 title="Medicine status" 
                                                 required="true" 
                                                 class="form-control"
                                                 >
                                    <f:selectItem itemValue = "true" itemLabel = "Activate" /> 
                                    <f:selectItem itemValue = "false" itemLabel = "Deactivate" />
                                </h:selectOneMenu>
                            </div>
                            
                        </div>


                       

                        <div class="formAction">
                            <h:commandLink action="#{medicineMB.create}" 
                                           value=" Thêm mới"
                                           rendered="#{medicineMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{medicineMB.update}" 
                                           value=" Cập nhật"
                                           rendered="#{!medicineMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{medicineMB.prepareList}" 
                                           value=" Back to List" 
                                           immediate="true"
                                           class="far fa-arrow-alt-circle-left btn btn-outline-dark"
                                           />
                        </div>
                    </div>
                </div>
                <!--End Form-->
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>