<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Patient</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Patient</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mt-3">
                <!--Form-->
                <div class="card-body">
                    <ui:include src="share/message.xhtml" />                     
                    <div class="form">
                        <div class="form-row">
                            <div class="form-group col">
                                <h:outputLabel value="Patient Name" for="patientName" />
                                <h:inputText id="patientName" 
                                             value="#{patientMB.selected.patientName}" 
                                             title="Patient Name" 
                                             required="true" requiredMessage="Name is required."
                                             class="form-control"
                                             />
                            </div>
                            <div class="form-group col" jsf:rendered="#{patientMB.isCreate}">
                                <h:outputLabel value="CMND" for="patientCmnd" />
                                <h:inputText id="patientCmnd" 
                                             value="#{patientMB.selected.cmnd}" 
                                             title="Patient Cmnd" 
                                             class="form-control"
                                             disabled="#{!patientMB.isCreate}"
                                             validator="#{patientMB.validateCmndExit}"
                                             >
                                    <f:ajax render="patientCmndError" event="blur" />
                                </h:inputText>
                                <h:message for="patientCmnd" errorClass="small text-danger" id="patientCmndError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Phone" for="patientPhone" />
                            <h:inputText id="patientPhone" 
                                         value="#{patientMB.selected.phone}" 
                                         title="Patient Phone" 
                                         required="true" requiredMessage="Phone is required."
                                         class="form-control"
                                         />
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <h:outputLabel value="Gender" for="patientGender" />
                                <h:selectOneMenu id="patientGender" 
                                                 value="#{patientMB.selected.gender}" 
                                                 title="Patient Gender" 
                                                 required="true" 
                                                 class="form-control"
                                                 >
                                    <f:selectItem itemValue = "true" itemLabel = "Male" /> 
                                    <f:selectItem itemValue = "false" itemLabel = "Female" />
                                </h:selectOneMenu>
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="Age" for="patientAge" />
                                <h:inputText id="patientAge" 
                                             value="#{patientMB.selected.age}" 
                                             title="Patient Age" 
                                             class="form-control"
                                             />
                            </div>
                            <div class="form-group col">
                                <h:outputLabel value="DOB" for="patientDOB" />
                                <input id="patientDOB" 
                                       jsf:value="#{patientMB.selected.dob}"
                                       title="Patient DOB" 
                                       class="form-control datepicker"
                                       type="date"
                                       />
                            </div>
                        </div>


                        <div class="form-group">
                            <h:outputLabel value="Address" for="patientAddress" />
                            <h:inputTextarea id="patientAddress" 
                                             value="#{patientMB.selected.address}" 
                                             title="Patient Address" 
                                             required="true" requiredMessage="Address is required."
                                             class="form-control"
                                             />
                        </div>

                        <div class="formAction">
                            <h:commandLink action="#{patientMB.create}" 
                                           value=" Thêm mới"
                                           rendered="#{patientMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{patientMB.update}" 
                                           value=" Cập nhật"
                                           rendered="#{!patientMB.isCreate}"
                                           class="far fa-check-circle btn btn-outline-primary mr-3"
                                           />

                            <h:commandLink action="#{patientMB.prepareList}" 
                                           value=" Back to List" 
                                           immediate="true"
                                           class="far fa-arrow-alt-circle-left btn btn-outline-dark"
                                           />
                        </div>
                    </div>
                </div>
                <!--End Form-->
            </div>

        </ui:define>
    </ui:composition> 
</html>