<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area shadow border">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Patient</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Patient</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!--Form-->
            <div class="card shadow border mt-3">                
                <div class="card-body">
                    <div class="card-title font-weight-bold">Statistical</div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <div class="seofct-icon font-weight-bold"><i class="fas fa-calendar-alt"></i> Total</div>
                                        <h2>#{patientMB.patientView.countAppointment}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <div class="seofct-icon font-weight-bold"><i class="fas fa-calendar-check"></i> Completed</div>
                                        <h2>#{patientMB.patientView.countAppointmentOK}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="seo-fact sbg2">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <div class="seofct-icon font-weight-bold"><i class="fas fa-notes-medical"></i> Medical Report</div>
                                        <h2>#{patientMB.patientView.medicalReport.size()}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">                      
                <div class="col">
                    <div class="card shadow border">                       
                        <div class="card-body">
                            <div class="card-title font-weight-bold">Details</div>
                            <hr />
                            <div class="form">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <h:outputLabel value="Patient Name" for="patientName" />
                                        <h:inputText id="patientName" 
                                                     value="#{patientMB.selected.patientName}" 
                                                     readonly="true"
                                                     class="form-control"
                                                     />
                                    </div>
                                    <div class="form-group col">
                                        <h:outputLabel value="Identification Code" for="patientCmnd" />
                                        <h:inputText id="patientCmnd" 
                                                     value="#{patientMB.selected.cmnd}" 
                                                     readonly="true"
                                                     class="form-control"
                                                     />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel value="Phone" for="patientPhone" />
                                    <h:inputText id="patientPhone" 
                                                 value="#{patientMB.selected.phone}" 
                                                 readonly="true"
                                                 class="form-control"
                                                 />
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <h:outputLabel value="Gender" for="patientGender" />
                                        <h:inputText id="patientGender" 
                                                     value="#{patientMB.selected.gender?'Male':'Female'}" 
                                                     readonly="true"
                                                     class="form-control"
                                                     />
                                    </div>
                                    <div class="form-group col">
                                        <h:outputLabel value="Age" for="patientAge" />
                                        <h:inputText id="patientAge" 
                                                     value="#{patientMB.selected.age}" 
                                                     readonly="true"
                                                     class="form-control"
                                                     />
                                    </div>
                                    <div class="form-group col">
                                        <h:outputLabel value="DOB" for="patientDOB" />
                                        <h:inputText id="patientDOB" 
                                                     value="#{patientMB.selected.dob}"
                                                     class="form-control datepicker"
                                                     readonly="true"
                                                     >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:inputText>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <h:outputLabel value="Address" for="patientAddress" />
                                    <h:inputTextarea id="patientAddress"
                                                     value="#{patientMB.selected.address}" 
                                                     readonly="true"
                                                     class="form-control"
                                                     />
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow border">

                        <div class="card-body">
                            <div class="card-title font-weight-bold">Medical Report</div>
                            <hr/>
                            <table id="tableMedicalReport" class="table">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th>Sickness</th>                                            
                                        <th>Doctor</th>
                                        <th>Note</th>
                                        <th>Date</th>
                                        <th>Prescription</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Sickness</th>                                            
                                        <th>Doctor</th>
                                        <th>Note</th>
                                        <th>Date</th>
                                        <th class="d-none"></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <c:forEach var="item" items="#{patientMB.patientView.medicalReport}">
                                        <tr>                                            
                                            <td>#{item.sicknessID.sicknessName}</td>
                                            <td>#{item.doctorID.employeeName}</td>
                                            <td>#{item.note}</td>
                                            <td>
                                                <h:outputText value="#{item.date}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </td>   
                                            <td>
                                                    <button type="button" data-toggle="modal" data-target="#exampleModal"
                                                            class="py-1 px-2 mr-3 btn btn-sm btn-rounded btn-warning"
                                                            jsf:action="return false"                                                            
                                                            >
                                                        See
                                                        <f:ajax listener="#{patientMB.loadPrescription(item)}"
                                                                render=":formMain:prescriptionInfo" />
                                                    </button>
                                                </td>
                                        </tr>
                                    </c:forEach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--End Form-->

            <!-- page content end -->
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Information Prescription</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h:panelGroup id="prescriptionInfo" class="data-tables">
                                <table class="table table-bordered" id="dataTable">
                                    <thead class="bg-primary font-weight-bold text-white">
                                        <tr>
                                            <th>Medicine</th>
                                            <th>Quantity</th>
                                            <th>Time</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <c:forEach items="#{patientMB.patientView.prescription}"
                                                   var="pres"
                                                   >
                                            <tr>
                                                <td>
                                                    #{pres.medicineID.medicineName}                                                    
                                                </td>
                                                <td>#{pres.total} #{pres.medicineID.type ? " ml" :" pill"}</td>
                                                <td>
                                                    #{pres.morning?"- Morning":""}
                                                    <br jsf:rendered="#{pres.afternoon}" />
                                                    #{pres.afternoon?"- Afternoon":""}
                                                    <br jsf:rendered="#{pres.evening}"/>
                                                    #{pres.evening?"- Evening":""}
                                                </td>
                                                <td>
                                                    #{pres.note}
                                                </td>
                                            </tr>
                                        </c:forEach>
                                    </tbody>
                                </table>
                            </h:panelGroup>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition> 
</html>