<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Prepare Appointment</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Prepare Appointment</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- page content start -->
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mt-3">
                        <div class="card-body">
                            <h4 class="header-title">Manage Prepare Appointment</h4>
                            <div class="data-tables">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <h:commandLink action="AppointmentCreate" 
                                                       value="Add New"
                                                       class="btn btn-outline-success mb-3"
                                                       /> 
                                    </div>
                                </div>

                                <table id="tablePatient" class="table">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>Date</th> 
                                            <th>Time</th>                                            
                                            <th>Book Time</th>
                                            <th>Expired Time</th>
                                            <th>Department</th>
                                            <th>Room</th>
                                            <th>Doctor</th>
                                            <th>Patient</th>
                                            <th>Action</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                        <c:forEach var="item" items="#{appointmentMB_demo.read_pre_app()}">
                                            <tr>
                                                <td>#{item.get("date")}</td>
                                                <td>#{item.get("time")}</td>
                                                <td>#{item.get("Book_time")}</td>
                                                <td>#{item.get("expired_time")}</td>
                                                <td>#{item.get("department")}</td>
                                                <td>#{item.get("room")}</td>
                                                <td>#{item.get("doctorId")}</td>
                                                <td>#{item.get("patientId")}</td>
                                                <td>
                                                    <h:commandLink value="Active" action="#{appointmentMB_demo.change_pre_app(item)}" />
                                                </td>
                                            </tr>
                                        </c:forEach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

