<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Phiếu khám</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--        add icon to each page to prevent errors-->
        <link href="resources/admin/images/black_fav_icon.ico" rel="shortcut icon" type="image/x-icon" />
        <!-- Bootstrap -->
        <link  href="resources/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <style>
            @page {
                size: 12cm ;
                margin: 5mm; /* change the margins as you want them to be. */
                padding: 0mm;
            }
            @media print {
                html, body {
                    width: 100%;
                    height: 0mm;
                    margin:0mm;
                    padding:0mm;
                }
            }
        </style>
    </h:head>
    <h:body onload="window.print()">
        <!--            Authorization-->

        <div class="container">
            <div class="row" >
                <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3" >
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <address>
                                <strong>HMS</strong>
                                <br/>
                                590 CMT8, District 3
                                <br/>
                                Ho Chi Minh City
                                <br/>
                                <abbr >Phone:</abbr> (213) 484-6829
                            </address>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 text-right">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h1>Phiếu Hẹn</h1>
                    </div>
                </div>
                <div class="col-sm-6">Ngày khám:</div>
                <div class="col-sm-6">#{appointmentMB_demo.selected.date}</div>
                <div class="col-sm-6">Phòng khám:</div>
                <div class="col-sm-6">#{appointmentMB_demo.selected.roomNo}</div>
                <div class="col-sm-6">Bệnh Nhân:</div>
                <div class="col-sm-6">#{appointmentMB_demo.selected.patientID.patientName}</div>
                <div class="col-sm-6">Chuyên khoa:</div>
                <div class="col-sm-6">#{departmentMB.find(appointmentMB_demo.selected.departmentID)} </div>
            </div>
        </div>
    </h:body>

    <!-- jQuery -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
</html>

