<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Profile</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Profile</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- page content start -->
            <div class="mt-3">
                <ui:include src="share/message.xhtml" /> 
                <div class="row">                                        
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header">
                                <h2 class="card-title">Profile</h2>
                            </div>
                            <div class="card-body">                    
                                <div class="form">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h:outputLabel value="Employee Name" for="employeeName" />
                                            <h:inputText id="employeeName" 
                                                         value="#{profileMB.selected.employeeName}" 
                                                         title="Employee Name" 
                                                         required="true" requiredMessage="Employee Name is required"
                                                         class="form-control"
                                                         />
                                        </div>
                                    </div>                                    

                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h:outputLabel value="Phone Number" for="phone" />
                                            <h:inputText id="phone" 
                                                         value="#{profileMB.selected.phone}" 
                                                         title="Phone Number" 
                                                         required="true" requiredMessage="Phone Number is required"
                                                         class="form-control"
                                                         />
                                        </div>
                                    </div>                        

                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h:outputLabel value="Department" for="Department" />
                                            <h:selectOneMenu id="Department" 
                                                             value="#{profileMB.selected.departmentID}" 
                                                             title="Department"
                                                             disabled="true"
                                                             required="true" requiredMessage="Department is required"
                                                             class="form-control"
                                                             converter="#{selectDepartmentConverter}"
                                                             >
                                                <f:converter binding="#{selectDepartmentConverter}"/>

                                                <f:selectItems value="#{profileMB.refDepartment}"                                                               
                                                               var="department"  
                                                               itemLabel = "#{department.name}" 
                                                               itemValue = "#{department}" 
                                                               /> 

                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group col">
                                            <h:outputLabel value="Employee Type" for="isDoctor" />
                                            <h:selectOneMenu id="isDoctor" 
                                                             value="#{profileMB.selected.isDoctor}" 
                                                             title="Employee type"
                                                             disabled="true"
                                                             required="true" 
                                                             class="form-control"
                                                             >
                                                <f:selectItem itemValue = "true" itemLabel = "Doctor" /> 
                                                <f:selectItem itemValue = "false" itemLabel = "Not Doctor" />
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group col">
                                            <h:outputLabel value="Status" for="status" />
                                            <h:selectOneMenu id="status" 
                                                             value="#{profileMB.selected.status}" 
                                                             title="Employee status"
                                                             disabled="true"
                                                             required="true" 
                                                             class="form-control"
                                                             >
                                                <f:selectItem itemValue = "true" itemLabel = "Activate" /> 
                                                <f:selectItem itemValue = "false" itemLabel = "Deactivate" />
                                            </h:selectOneMenu>
                                        </div>
                                    </div>

                                    <div class="formAction">
                                        <h:commandLink action="#{profileMB.update}" 
                                                       value=" Update"
                                                       class="far fa-check-circle btn btn-outline-primary mr-3"
                                                       />     
                                        <h:commandLink action="return false"
                                                       value=" Change Password"
                                                       class="far fa-edit btn btn-outline-success mr-3"
                                                       >
                                            <f:ajax listener="#{profileMB.prepareEditLogin()}" event="click" render=":formMain:panelLogin" />
                                        </h:commandLink>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h:panelGroup id="panelLogin" class="col"  layout="block">
                        <div jsf:rendered="#{profileMB.isChangeLogin}">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h2 class="card-title">Login Information</h2>
                                </div>
                                <div class="card-body">
                                    <div class="form-group ">
                                        <h:outputLabel value="Email" for="email" />
                                        <h:inputText  id="email" 
                                                      value="#{profileMB.selected.email}"
                                                      disabled="true"
                                                      class="form-control"
                                                      >
                                        </h:inputText>
                                        <h:message for="email" errorClass="invalid text-danger" id="emailError" />
                                    </div>

                                    <div class="form-group ">
                                        <h:outputLabel value="Old Password" for="oldPassword" />
                                        <h:inputSecret id="oldPassword" 
                                                       value="#{profileMB.selected.password}" 
                                                       required="true" requiredMessage="Old Password is required" 
                                                       class="form-control"
                                                       validator="#{profileMB.validateCheckPassword}"
                                                       >
                                            <f:ajax event="blur" render="oldPasswordError" />
                                        </h:inputSecret>
                                        <h:message for="oldPassword" errorClass="invalid text-danger" id="oldPasswordError" />
                                    </div> 

                                    <div class="form-group ">
                                        <h:outputLabel value="New Password" for="password" />
                                        <h:inputSecret id="password" 
                                                       value="#{profileMB.selected.password}" 
                                                       title="Password" 
                                                       required="true" requiredMessage="New Password is required" 
                                                       class="form-control"
                                                       >
                                            <f:ajax event="blur" render="passwordError" />
                                        </h:inputSecret>
                                        <h:message for="password" errorClass="invalid text-danger" id="passwordError" />
                                    </div> 

                                    <div class="form-group">
                                        <h:outputLabel value="Confirm Password" for="confPassword" />
                                        <h:inputSecret id="confPassword" 
                                                       title="Conf Password" 
                                                       validator="#{profileMB.validateSamePassword}"
                                                       required="true" requiredMessage="Confirm Password is required" 
                                                       class="form-control"
                                                       >
                                            <f:ajax event="blur" render="confPasswordError" />
                                        </h:inputSecret>
                                        <h:message for="confPassword" errorClass="invalid text-danger" id="confPasswordError" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                </div>
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>