<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Appointment</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Appointment</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="container-fluid">
                <f:view>
                    <h:form>
                        <div class="form-group">
                            <h:outputLabel value="Ngày Làm" for="Date" />
                            <input type="date" required="required" class="form-control  datepicker" jsf:value="#{scheduleMB.date}" data-parsley-trigger="blur" />
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Giờ Làm" for="time" />
                            <h:selectOneMenu id="time" value="#{scheduleMB.time}" class="form-control" >
                                <f:selectItems value="#{appointmentMB_demo.getJsonTime()}" var="t"   itemLabel="#{t['label']}" itemValue="#{t['time']}"/>
                            </h:selectOneMenu>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Phòng khám" for="room" />
                            <h:selectOneMenu  id="room" value="#{scheduleMB.room}" class="form-control">
                                <f:selectItems value="#{roomMB.all}" var="room" itemLabel="#{room.roomPK.roomNo}" itemValue="#{room.roomPK.roomNo}"/>
                            </h:selectOneMenu>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Bác sĩ" for="doctor" />
                            <h:selectOneMenu value="#{scheduleMB.doctor}" class="form-control">
                                <f:selectItems value="#{employeeMB.doctors}" var="doctor" itemLabel="#{doctor.employeeName}" itemValue="#{doctor.employeeID}"/>
                            </h:selectOneMenu>
                        </div>
                        <div class="formAction">
                            <h:commandButton action="#{scheduleMB.create()}" 
                                             value="Thêm mới"
                                             class="far fa-check-circle btn btn-outline-primary mr-3 align-items-center"
                                             />
                        </div>
                    </h:form>
                </f:view>
            </div>
        </ui:define>
    </ui:composition>
</html>

