<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../templates/_ClientPage.xhtml">
        <!-- Header -->
        <ui:define name="head">
            <title>Index</title>
        </ui:define>

        <!-- Body -->
        <ui:define name="body">   
            <!-- page title area start -->
            <div class="page-title-area shadow">
                <div class="row align-items-center">
                    <div class="col-sm-6 my-4">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Patient</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="Index.xhtml">Home</a></li>
                                <li><span>Patient</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- page content start -->
            <div class="row">
                <div class="col-12">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <h4 class="header-title">Manage Patient</h4>
                            <div class="data-tables">
                                <h:commandLink action="#{patientMB.prepareCreate}" 
                                               value="Add New"
                                               class="btn btn-outline-success mb-3"
                                               />
                                <table id="tablePatient" class="table">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                                <th>Date</th> 
                                                <th>Time</th>
                                                <th>Department</th>
                                                <th>Room</th>                                            
                                                <th>Doctor</th>
                                                <th>Action</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        <c:forEach var="item" items="#{scheduleMB.all}">
                                                <tr>
                                                    <td>#{item["date"]}</td>
                                                    <td>#{item["time"]}</td>
                                                    <td>#{departmentMB.find(item.department)}</td>
                                                    <td>#{item["room"]}</td>
                                                    <td>#{employeeMB.find(item.doctorId)}</td>
                                                    <td>
                                                        <h:commandLink value="Select" action="AppointmentCreate.xhtml">
                                                            <f:setPropertyActionListener target="#{appointmentMB.date}" value="#{item.date}"/>
                                                            <f:setPropertyActionListener target="#{appointmentMB.time}" value="#{item.time}"/>
                                                            <f:setPropertyActionListener target="#{appointmentMB.departmentID}" value="#{item.department}"/>
                                                            <f:setPropertyActionListener target="#{appointmentMB.doctorID}" value="#{item.doctorId}"/>
                                                            <f:setPropertyActionListener target="#{appointmentMB.patientID}" value="#{scheduleMB.patientId}"/>
                                                            <f:setPropertyActionListener target="#{appointmentMB.roomNo}" value="#{item.room}"/>
                                                        </h:commandLink>
                                                    </td>
                                                </tr>
                                            </c:forEach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page content end -->

        </ui:define>
    </ui:composition> 
</html>